<div class="user-account-container">
    <md-toolbar class="user-account-header md-hue-2" layout="row">
        <div class="profile-picture" layout="column">
            <img ng-src="dataImages/users/profile/{{user.imgId}}.jpg"/>
        </div>
        <div class="profile-buttons-container" layout="row">
            <div class="profile-button" ng-click="updatePhoto($event)"><small>Update photo</small></div>
            <div class="profile-button" ng-click="updateBG($event)"><small>Update background</small></div>
        </div>
    </md-toolbar>
    <div layout="column" class="md-inline-form">

        <md-content md-theme="docs-dark" layout-align="center center" layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="user.email" type="email">
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input ng-model="user.pass" type="password">
                </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                    <label>Title</label>
                    <md-select ng-model="user.title">
                        <md-option ng-repeat="title in titles" value="{{title.id}}">
                            {{title.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <span flex></span>
            <div>
                <md-button class="update-profile-button" ng-click="updateProfile($event)">UPDATE PROFILE</md-button>
            </div>
        </md-content>

        <md-content layout-padding>
            <div>
                <form name="userForm">

                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Company</label>
                            <input ng-model="user.company" disabled>
                        </md-input-container>

                        <md-input-container>
                            <label>Birthday:</label>
                            <md-datepicker ng-model="user.birthday"></md-datepicker>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>First name</label>
                            <input ng-model="user.firstName">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Last name</label>
                            <input ng-model="user.lastName">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Area</label>
                            <md-select ng-model="user.area">
                                <md-option ng-repeat="area in areas" value="{{area.id}}">
                                    {{area.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>DDD and Phone number:</label>
                            <input name="phone" ng-model="user.phone" placeholder="51981799999"
                                   required ng-pattern="/^[0-9]{11}$/" md-maxlength="11">

                            <div ng-messages="userForm.phone.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must supply a phone number.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid phone number.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Biography</label>
                        <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                </form>
            </div>
        </md-content>

    </div>
</div>

